{{ define "main" }}
	<span>
		<h1>
		    <a href="{{ .Permalink }}">{{ .Title }}</a>
		</h1>
		<a href="{{ .Permalink }}">
		<img src="{{ $.Site.BaseURL }}{{ if .Params.image }}{{.Params.image}}{{ else }}images/headers/default.jpg{{ end }}">
		</a>
		{{ if .Params.author }}
		<i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;
		{{.Params.author}} &nbsp;&nbsp;  {{ end }}
		<i class="fa fa-calendar"></i>&nbsp;&nbsp;
		<time datetime="{{ .Date }}">{{ .Date.Format .Site.Params.date_format }}</time>&nbsp;&nbsp;
		{{ if isset .Params "categories" }}
		    {{ $categoriesLen := len .Params.categories }}
		    {{ if gt $categoriesLen 0 }}
		        <i class="fa fa-folder"></i>&nbsp;&nbsp;
		        {{ range $k, $v := .Params.categories }}
		        <a class="article-category-link" href="{{ $.Site.BaseURL }}categories/{{ . | urlize | lower }}">{{ . }}</a>
		        {{ if lt $k (sub $categoriesLen 1) }}&middot;{{ end }}
		        {{ end }}
		    {{ end }}
		{{ end }}
	</span>

	<p>
	    {{ .Content }}
	</p>
	{{ if isset .Params "tags" }}
		 {{ $tagsLen := len .Params.tags }}
		 {{ if gt $tagsLen 0 }}
				 &nbsp;&nbsp;<i class="fa fa-tags"></i>&nbsp;&nbsp;
				 {{ range $k, $v := .Params.tags }}
				 <a class="article-category-link" href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a>
				 {{ if lt $k (sub $tagsLen 1) }}&middot;{{ end }}
				 {{ end }}
		 {{ end }}
	{{ end }}
		<p></p>

<div style="display:block;">
<div style="display:inline-block; height:28px; overflow:hidden">
<a href="https://twitter.com/intent/tweet?text={{ .Title }}{{ with .Site.Params.sidebar.twitter }} by @{{ . }}{{ end }}" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div style="display:inline-block; vertical-align: top" class="fb-share-button"
	data-href="{{ .Permalink }}"
	data-layout="button"
	data-size="large">
</div>
</div>


  <!-- Your share button code -->




	{{ template "_internal/disqus.html" . }}
{{ end }}
